{
  "openapi": "3.0.0",
  "info": {
    "title": "Baci E-commerce API",
    "description": "API for Baci E-commerce Builder Platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://usebaci.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/products": {
      "get": {
        "summary": "List products",
        "description": "Retrieve a list of products for the authenticated merchant.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["active", "draft", "archived", "All"]
            }
          },
          {
            "name": "stock",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["in_stock", "out_of_stock", "All"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of products"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create product",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "price"],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "stock": {
                    "type": "integer"
                  },
                  "status": {
                    "type": "string",
                    "enum": ["active", "draft"]
                  },
                  "category": {
                    "type": "string"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/api/orders": {
      "get": {
        "summary": "List orders",
        "parameters": [
          {
            "name": "payment_status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shipping_status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of orders"
          }
        }
      },
      "post": {
        "summary": "Create order",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "merchant_id",
                  "customer_email",
                  "customer_name",
                  "items",
                  "subtotal"
                ],
                "properties": {
                  "merchant_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "customer_email": {
                    "type": "string",
                    "format": "email"
                  },
                  "customer_name": {
                    "type": "string"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "subtotal": {
                    "type": "number"
                  },
                  "shipping_fee": {
                    "type": "number"
                  },
                  "payment_method": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created"
          }
        }
      }
    },
    "/api/merchants/by-slug": {
      "get": {
        "summary": "Get merchant by slug",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant details"
          }
        }
      }
    },
    "/api/webhooks/mycover": {
      "post": {
        "summary": "MyCover Webhook",
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      }
    }
  }
}
