[**nextn**](../../../README.md)

***

[nextn](../../../README.md) / [lib/dns-validator](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/lib/dns-validator.ts:3](https://github.com/Ogabassey-Services-Limited/Baci/blob/102b2153aa76346cf4b296ddba430e8263a41fa0/src/lib/dns-validator.ts#L3)

## Properties

### errors

> **errors**: `string`[]

Defined in: [src/lib/dns-validator.ts:5](https://github.com/Ogabassey-Services-Limited/Baci/blob/102b2153aa76346cf4b296ddba430e8263a41fa0/src/lib/dns-validator.ts#L5)

***

### valid

> **valid**: `boolean`

Defined in: [src/lib/dns-validator.ts:4](https://github.com/Ogabassey-Services-Limited/Baci/blob/102b2153aa76346cf4b296ddba430e8263a41fa0/src/lib/dns-validator.ts#L4)

***

### warnings

> **warnings**: `string`[]

Defined in: [src/lib/dns-validator.ts:6](https://github.com/Ogabassey-Services-Limited/Baci/blob/102b2153aa76346cf4b296ddba430e8263a41fa0/src/lib/dns-validator.ts#L6)
